<style>
    canvas {
        width: 100vw;
        height: 100vh;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -9999;
    }
</style>

<script type="module">
    import * as THREE from 'three';

    function makeBall(scene, x, y, z) {
        const geometry = new THREE.SphereGeometry();

        const material = new THREE.MeshStandardMaterial({ color: 0x56a9e8 });
        material.emmissive = new THREE.Color(0x56a9e8);
        material.emmissiveIntensity = 5;

        const sphere = new THREE.Mesh(geometry, material);

        sphere.position.set(x, y, z);
        // console.log(sphere);

        scene.add(sphere);
    }

    function balls() {
        const scene = new THREE.Scene();
        const camera = new THREE.PerspectiveCamera(40, window.innerWidth / window.innerHeight, 0.1, 1000);

        const renderer = new THREE.WebGLRenderer({ alpha: true });
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild(renderer.domElement);

        //const directionalLight = new THREE.DirectionalLight(0xffffff, 0.75);
        //directionalLight.position.set(1, 1, 0).normalize();
        //scene.add(directionalLight);

        makeBall(scene, 6, 0, 0);

        camera.position.z = 13;

        function animate() {
            requestAnimationFrame(animate);

            renderer.render(scene, camera);
        };

        animate();
    }

    balls();

</script>